<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- Thêm thư viện toastr từ CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <style>
        .h1 {
            text-align: center;
            font-weight: bold;
            color: black;
            margin-bottom: 50px;
            text-transform: uppercase
        }
    </style>

</head>

<body>
<div th:replace="/layout_admin::homeAdmin" style="float: left; width: 30%"></div>
<h1 class="h1">Quản lý booking</h1>
<!--<a th:if="${msg == 1}">-->
<!--    <div id="myToast" class="toast"></div>-->
<!--</a>-->
<div style="float: left;width: 75%;">
    <div class="table-responsive sticky-top" style="margin-left: 12%">
        <table class="table table-striped table-hover">
            <tr>
                <td>STT</td>
                <td>Tên khách hàng</td>
                <td>Thời gian đặt</td>
                <td>Số lượng người</td>
                <td>Tài khoản</td>
                <td>Tên tour</td>
                <td>Tổng tiền</td>
                <td>Hành động</td>
            </tr>
            <tr th:each="b, l : ${bookingPage}">
                <td th:text="${l.count}"></td>
                <td th:text="${b.getAccount().nameClient}"></td>
                <td th:text="${b.getDate()}"></td>
                <td th:text="${b.getChildrenNumber() + b.getAdultNumber()}"></td>
                <td th:text="${b.getAccount().getUsername()}"></td>
                <td th:text="${b.getTour().getName()}"></td>
                <td th:text="${b.getChildrenNumber() * b.getTour().getChildrenPrice() + b.getAdultNumber() * b.getTour().getAdultPrice()}"></td>
            </tr>
        </table>
    </div>
    <nav aria-label="..." th:if="${bookingPage.getTotalPages() > 1}"
         style="justify-content: center;display: flex">
        <ul class="pagination pagination-circle">
            <li class="page-item" th:if="${bookingPage.hasPrevious()}">
                <a class="page-link" th:href="@{booking(page=${bookingPage.number - 1})}">Previous</a>
            </li>
            <div th:each="item, loop : ${#numbers.sequence(1, bookingPage.totalPages )}">
                <div th:if="${bookingPage.number + 1 == item}">
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" th:href="@{booking(page=${item - 1})}" th:text="${item}"><span
                                class="visually-hidden">(current)</span></a>
                    </li>
                </div>
                <div th:unless="${bookingPage.number + 1 == item}">
                    <li class="page-item"><a class="page-link" th:href="@{booking(page=${item - 1})}"
                                             th:text="${item}"></a></li>
                </div>
            </div>
            <li class="page-item" th:if="${bookingPage.hasNext()}">
                <a class="page-link" th:href="@{booking(page=${bookingPage.number + 1})}">Next</a>
            </li>
        </ul>
    </nav>
</div>
</body>
<!-- Các thư viện và nội dung trang web khác -->

<!-- Kiểm tra và hiển thị toast message nếu có -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        showMyToast();
    });

    function showMyToast() {
        var toast = document.getElementById('myToast');
        if (toast) {
            toast.innerText = "Thông báo từ HTML!";
            toast.style.display = 'block';
            setTimeout(function () {
                toast.style.display = 'none';
            }, 3000); // Thời gian hiển thị toast (miligiay)
        }
    }
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</html>